exploration/data/
exploration/.ipynb_checkpoints/explore_data-checkpoint.ipynb
wandb/
exploration/code_snippets.ipynb
exploration/explore_data_new.ipynb
exploration/explore_data_verbose.ipynb
exploration/train_models_test.ipynb

.vscode
.DS_Store
exploration/.ipynb_checkpoints/*
exploration/Pipfile.lock
exploration/Pipfile
exploration/AccuracyVsRank.png
exploration/AccuracyVsRun.png
exploration/__main__.py
exploration/__pycache__/__main__.cpython-37.pyc
exploration/__pycache__/nn_train.cpython-37.pyc
exploration/__pycache__/process_data.cpython-37.pyc
exploration/__pycache__/__init__.cpython-37.pyc
__pycache__/__main__.cpython-37.pyc
