[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
psycopg2-binary = "*"
python-dotenv = "*"
tensorflow-cpu = "*"
starlette = "*"
coverage = "*"
pandas = "*"
spacy = "*"
wandb = "*"
scikit-learn = "*"
matplotlib = "*"
autopep8 = "*"
pytest = "*"
ipykernel = "*"
ipywidgets = "*"
pylint = "*"
xgboost = "*"
scrapy = "*"

[requires]
python_full_version = "3.7.6"
